.App {
  font-family: sans-serif;
  text-align: center;
}
.green {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #7bb241;
}
